//
// Site Footer
//
.wrap {

	&--footer {
		width: calc(100% - 40px);
	}

	&--footer &__item--footer-menu {

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin-bottom: 16px;
			}

			@media ( query( min, tablet ) ) {
				display: flex;
				flex-flow: wrap;

				li {
					flex-basis: 50%;
				}
			}
		}
	}

	&--footer &__item--footer-copyright {
		margin: 0;
		font-weight: 300;
	}
}
